<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gift">
            <h2><span jhiTranslate="fglgatewayApp.gift.detail.title">Gift</span> {{gift.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fglgatewayApp.gift.name">Name</span></dt>
                <dd>
                    <span>{{gift.name}}</span>
                </dd>
                <dt><span jhiTranslate="fglgatewayApp.gift.description">Description</span></dt>
                <dd>
                    <span>{{gift.description}}</span>
                </dd>
                <dt><span jhiTranslate="fglgatewayApp.gift.url">Url</span></dt>
                <dd>
                    <span>{{gift.url}}</span>
                </dd>
                <dt><span jhiTranslate="fglgatewayApp.gift.giftList">Gift List</span></dt>
                <dd>
                    <div *ngIf="gift.giftListId">
                        <a [routerLink]="['/gift-list', gift.giftListId, 'view']">{{gift.giftListId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gift', gift.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
