<div>
    <h2 id="page-heading">
        <span jhiTranslate="fglgatewayApp.gift.home.title">Gifts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gift" [routerLink]="['/gift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fglgatewayApp.gift.home.createLabel">
            Create new Gift
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gifts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="fglgatewayApp.gift.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="fglgatewayApp.gift.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span jhiTranslate="fglgatewayApp.gift.url">Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="giftListId"><span jhiTranslate="fglgatewayApp.gift.giftList">Gift List</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let gift of gifts ;trackBy: trackId">
                <td><a [routerLink]="['/gift', gift.id, 'view' ]">{{gift.id}}</a></td>
                <td>{{gift.name}}</td>
                <td>{{gift.description}}</td>
                <td>{{gift.url}}</td>
                <td>
                    <div *ngIf="gift.giftListId">
                        <a [routerLink]="['../gift-list', gift.giftListId , 'view' ]" >{{gift.giftListId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gift', gift.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gift', gift.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gift/'+ gift.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
